%footer.footer
  %small
    Sample App by Zoltan inspired by Rails Tutorial
  %nav
    %ul
      %li= link_to "About",   about_path
      %li= link_to "Contact", contact_path
      %li
        %a{:href => "http://news.railstutorial.org/"} News